@{
    ViewBag.Title = "CreateEvent";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-lg-3">
            <button type="button">Adicionar foto</button>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Titulo de Evento</h4>
                </div>
                <div class="col-lg-5">
                    <input type="text" name="Nome" size="30" class="formCreateEvent" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h4>Data de Evento</h4>
                </div>
                <div class="col-lg-5">
                    <input type="text" name="Nome" size="30" class="formCreateEvent" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h4>Descrição de evento</h4>
                </div>
                <div class="col-lg-5">
                    <textarea rows="10" cols="70" maxlength="100" class="formCreateEvent"></textarea>
                </div>
            </div>
        </div>


    </div>
    <div class="row right-btn">
        <button type="button">Criar</button>
    </div>
</div>
