@{
    ViewBag.Title = "About";
}<div class="container col-lg-6">
    <h2>Finalidade</h2>
    <h4>blablbablablablalbalbalblablalbalblalbalbalbla</h4>
</div>
<div class="container col-lg-6">
    <h2>Como Usar?</h2>
    <h4>blabalbalbwedaofkeiogjeosingadbzagbduygksdksudgISUD</h4>
</div>
<div class="container">
    <h2>Contactos</h2>
    <h3>Telemóvel: 910 000 000</h3>
    <h3>Email: nightpath@nightpath.com</h3>   
</div>
