@{
    ViewBag.Title = "BankTransfer";
}<div>
     <div class="panel panel-default center-btn">
         <div class="panel-heading">Dados da Transferência</div>
         <div class="panel-body">
             <div class="spacing-form row">
                 Montante:
                 <label for=""></label>
             </div>
             <div class="spacing-form row">
                 Entidade:
                 <label for=""></label>
             </div>
             <div class="spacing-form row">
                 Referência:
                 <label for=""></label>
             </div>
         </div>
     </div>
    </div>