@{
    ViewBag.Title = "Catalog";
}


<div class="container">
    <div class="container col-lg-3 marginCatalog">
        <div class=" row">
            <h5>Distrito</h5>
            <select>
                <option value="Aveiro">Aveiro</option>
                <option value="Lisboa">Lisboa</option>
                <option value="Porto">Porto</option>
                <option value="Viseu">Viseu</option>
                <option value="Coimbra">Coimbra</option>
                <option value="Braga">Braga</option>
                <option value="Barcelos">Barcelos</option>
                <option value="Algarve">Algarve</option>
                <option value="Evora">Evora</option>
                <option value="Cascais">Cascais</option>
                <option value="Almada">Almada</option>

            </select>
            <div class="marginCatalog">
                <h5>Rating</h5>
                <form>
                    <input type="radio" name="Rating" value="1"> 1
                    <input type="radio" name="Rating" value="2"> 2
                    <input type="radio" name="Rating" value="3"> 3
                    <input type="radio" name="Rating" value="4"> 4
                    <input type="radio" name="Rating" value="5"> 5
                </form>
                <div class="row marginCatalog">
                    <button type="button">Search</button>
                </div>
            </div>

        </div>
        </div>

        <div class=" container col-lg-9">
            <div class=" container col-lg-3">
                <h4>Titulo</h4>
                @Html.ActionLink("Ver mais", "CreateEvent", "Event")
               

            </div>
        </div>
        </div>
    
