@{
    ViewBag.Title = "Points";
}
<h2>Profile Name</h2>
<div class="container">
    <h4>Pontos Disponíveis</h4><label for="element_id"></label>
    <div class="row pushtoright">
        <div class="col-lg-6">
            <dl>
                <dt>Método de pagamento:</dt>
                <dd>-Cartão de Crédito</dd>
                <dd>-SMS</dd>
                <dd>-Transferência Bancária</dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <dl>
                <dt>Pontos:</dt>
                <dd>-5€=10pontos</dd>
                <dd>-20€=45pontos</dd>
                <dd>-50€=120pontos</dd>
                <dd>-100€=500pontos</dd>
            </dl>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            sadgfasdfsdfasdfsda
        </div>
        <div class="col-lg-4">
            5555555555555555555
        </div>
        <div class="col-lg-4">
            sadgfasdfsdfasdfsda
        </div>
    </div>
</div>
