@{
    ViewBag.Title = "CreateEstablishment";
}
<h2>Novo Bar</h2>
<div class="container">
    <div class="container col-lg-6">
        <div class="spacing-form row">
            Nome do Bar:
            <input type="text" name="barname">
        </div>
        <div class="spacing-form row">
            Descrição:
            <input type="text" name="description">
        </div>
        <div class="spacing-form row">
            Morada:
            <input type="text" name="adrress">
        </div>
        <div class="spacing-form row">
            NIF:
            <input type="text" name="nif">
        </div>
        <div class="spacing-form row">
            Horário:
            <input type="date" name="date">
        </div>
    </div>
    <div class="container col-lg-6">

    </div>
</div>